# Course - Unsupervised Learning

##### NOTE: 
1. Your code MUST execute without any errors. 
2. You can add more lines in your code as required.

## Section 1: Clustering: K-mean Clustering

### Question 1 
**The dataset is loaded for you. Perform the following tasks:**  
1. The dataset contains milk composition from different mammals. You are required to cluster the observations using K mean clustering.  
2. Plot out the distributions (histogram) of each of the variables (columns) and see how they behave.  
3. Use k=3, 5, 10, 15, 20. Plot the sum of squares values as a chart and select the appropriate value of K.

In [9]:
library(cluster.datasets)
data(all.mammals.milk.1956)
head(all.mammals.milk.1956)

  name      water protein fat lactose ash
1 Horse     90.1  2.6     1.0 6.9     0.35
2 Orangutan 88.5  1.4     3.5 6.0     0.24
3 Monkey    88.4  2.2     2.7 6.4     0.18
4 Donkey    90.3  1.7     1.4 6.2     0.40
5 Hippo     90.4  0.6     4.5 4.4     0.10
6 Camel     87.7  3.5     3.4 4.8     0.71

### Good Job! You are done with the section!

## Section 2: Clustering: Hierarchal Clustering

### Question 1 
**The dataset is loaded for you. Perform the following tasks:**  
You have data for price. indices from EU stock market. You wish to pair trade the values and would like to find out two correlated indices that you can trade. In order to select a pair, you need to perform heirarchal clustering and select the one with minimum distance.  
1. Compute returns (percent change) of all indices and store in a variable called returns.  
2. Construct correlation matrix using returns and plot out the correlation plot.  
2. Create heirarchal clustering using returns and plot a dendegram diagram to figure out which two of the indices can be used for pairs trading.

In [13]:
library(datasets)
head(EuStockMarkets)

     DAX     SMI    CAC    FTSE
[1,] 1628.75 1678.1 1772.8 2443.6
[2,] 1613.63 1688.5 1750.5 2460.2
[3,] 1606.51 1678.6 1718.0 2448.2
[4,] 1621.04 1684.1 1708.1 2470.4
[5,] 1618.16 1686.6 1723.1 2484.7
[6,] 1610.61 1671.6 1714.3 2466.8

## Good Job! You are done with the course!