# Course - Unsupervised Learning

##### NOTE: 
1. Your code MUST execute without any errors. 
2. You can add more lines in your code as required.

## Section 1: Clustering: K-mean Clustering

### Question 1 
**The dataset is loaded for you. Perform the following tasks:**  
1. The dataset contains milk composition from different mammals. You are required to cluster the observations using K mean clustering.  
2. Plot out the distributions (histogram) of each of the variables (columns) and see how they behave.  
3. Use k=3, 5, 10, 15, 20. Plot the sum of squares values as a chart and select the appropriate value of K.

In [9]:
library(cluster.datasets)
data(all.mammals.milk.1956)
head(all.mammals.milk.1956)

  name      water protein fat lactose ash
1 Horse     90.1  2.6     1.0 6.9     0.35
2 Orangutan 88.5  1.4     3.5 6.0     0.24
3 Monkey    88.4  2.2     2.7 6.4     0.18
4 Donkey    90.3  1.7     1.4 6.2     0.40
5 Hippo     90.4  0.6     4.5 4.4     0.10
6 Camel     87.7  3.5     3.4 4.8     0.71

### Good Job! You are done with the section!

## Section 2: Clustering: Hierarchal Clustering

### Question 1 
**The dataset is loaded for you. Perform the following tasks:**  
You have data for price. indices from EU stock market. You wish to pair trade the values and would like to find out two correlated indices that you can trade. In order to select a pair, you need to perform heirarchal clustering and select the one with minimum distance.  
1. Compute returns (percent change) of all indices and store in a variable called returns.  
2. Construct correlation matrix using returns and plot out the correlation plot.  
2. Create heirarchal clustering using returns and plot a dendegram diagram to figure out which two of the indices can be used for pairs trading.

In [13]:
library(datasets)
head(EuStockMarkets)

     DAX     SMI    CAC    FTSE
[1,] 1628.75 1678.1 1772.8 2443.6
[2,] 1613.63 1688.5 1750.5 2460.2
[3,] 1606.51 1678.6 1718.0 2448.2
[4,] 1621.04 1684.1 1708.1 2470.4
[5,] 1618.16 1686.6 1723.1 2484.7
[6,] 1610.61 1671.6 1714.3 2466.8

### Good Job! You are done with the section!

## Section 3: Tidymodels

### Question 1 
**The dataset is loaded for you. Perform the following tasks:**  
You have the dataset for rock composition. Using recipe object, perform data pre-processing after splitting the data into train and test. Perform the same steps for both sets of data using the appropriate functions and libraries

In [37]:
head(rock)

  area peri    shape     perm
1 4990 2791.90 0.0903296  6.3
2 7002 3892.60 0.1486220  6.3
3 7558 3930.66 0.1833120  6.3
4 7352 3869.32 0.1170630  6.3
5 7943 3948.54 0.1224170 17.1
6 7979 4010.15 0.1670450 17.1

### Good Job! You are done with the section!

## Section 4: Time Series Analysis

### Question 1 
**The dataset is loaded for you. Perform the following tasks:**  
Following is the dataset for quarterly reported earnings (revenues) for JohnsonJohnson.   
1. Parse the data into timeseries format. Create a new variable that is the average of the four columns known as YearEarnings.  
2. Decompose the time series data into trends, seasonal effects, cycles, residuals and plot out the graph for each.  
3. Perform an ARIMA forecast on Qtr1 earnings for the year 1981, 1982.

In [19]:
print(JohnsonJohnson)

      Qtr1  Qtr2  Qtr3  Qtr4
1960  0.71  0.63  0.85  0.44
1961  0.61  0.69  0.92  0.55
1962  0.72  0.77  0.92  0.60
1963  0.83  0.80  1.00  0.77
1964  0.92  1.00  1.24  1.00
1965  1.16  1.30  1.45  1.25
1966  1.26  1.38  1.86  1.56
1967  1.53  1.59  1.83  1.86
1968  1.53  2.07  2.34  2.25
1969  2.16  2.43  2.70  2.25
1970  2.79  3.42  3.69  3.60
1971  3.60  4.32  4.32  4.05
1972  4.86  5.04  5.04  4.41
1973  5.58  5.85  6.57  5.31
1974  6.03  6.39  6.93  5.85
1975  6.93  7.74  7.83  6.12
1976  7.74  8.91  8.28  6.84
1977  9.54 10.26  9.54  8.73
1978 11.88 12.06 12.15  8.91
1979 14.04 12.96 14.85  9.99
1980 16.20 14.67 16.02 11.61

## Good Job! You are done with the course!